/* Layout */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
