/* Buttons */

.button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #3e8e41;
}

/* Cards */
 

.card {
  margin: 16px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Forms */

.form {
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.form input[type=text],
.form input[type=email],
.form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

.form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: #3e8e41;
}

.form label {
  font-size: 16px;
  font-weight: bold;
}

/* Headers */

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 36px;
  border-radius: 6px 6px 0 0;
}

/* Navigation */

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 6px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Utilities */

.center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  /* Cards */
  .card {
    flex-direction:
