body {
  background: linear-gradient(60deg, #ef5777, #f53b9d, #575fcf, #02aaf2, #ef5777);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background: linear-gradient(
    135deg,
    rgba(226, 221, 232, 0.2),
    rgba(206, 198, 217, 0.2),
    rgba(151, 145, 168, 0.2),
    rgba(126, 120, 143, 0.2)
  );
  z-index: -1;
}

body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background: linear-gradient(
    to bottom,
    rgba(73, 199, 255, 0.5),
    rgba(73, 199, 255, 0.2) 50%,
    rgba(73, 199, 255, 0)
  );
  z-index: -2;
}
